{% extends 'base.html' %}
{% block content %}
<h1>Morbilidade database</h1>

<h2>Some database statistics</h2>
<table>
<tr>
  <th>Items</th>
  <th>Count</th>
</tr>
<tr>
  <td>Doencas</td>
  <td>{{ stats.s_doenca }}</td>
</tr>
<tr>
  <td>Estatistica</td>
  <td>{{ stats.s_estatistica }}</td>
</tr>
<tr>
  <td>Faixa Etária</td>
  <td>{{ stats.s_faixa }}</td>
</tr>
<tr>
  <td>Hospital</td>
  <td>{{ stats.s_hospital }}</td>
</tr>
<tr>
  <td>Paciente</td>
  <td>{{ stats.s_paciente }}</td>
</tr>
<tr>
  <td>Regiao</td>
  <td>{{ stats.s_regiao }}</td>
</tr>
</table>

<h2>Sample functionality</h2>

<h3>Hospitais</h3>
<p>
   <a href="/hospitais">List all</a>
</p>
<p>Get hospital info:

</p>

{% endblock %}