{% extends 'base.html' %}
{% block content %}
<div class="header-container">
    <h1 class="title">{{ count.descricao }}</h1>
    <div class="go-back">
        <a href="javascript:history.back();">&larr; Go Back</a>
    </div>
</div>
<p><b>ID: </b>{{ count.doenca_id }}</p>
<table>
    <tr id="header">
      <th>Obitos</th>
      <th>Ambulatório</th>
      <th>Internamentos</th>
    </tr>
    <tr>
      <td>{{ count.o }}</a></td>
      <td>{{ count.a }}</td>
      <td>{{ count.i }}</a></td>
    </tr>
</table>

{% endblock %}